<div class="menu-panels__panel">
    <div class="menu-column full">
        <div class="menu-row menu-row--globe">
            <a class="btn btn--large btn--black btn--rounded" ng-click="show.modal = 'register'" href="">Register</a>
        </div>
        <div class="menu-row menu-row--pyxis">
            <div class="menu-column">
                <a class="link link--menu link--swap" href="https://www.pyxisinnovation.com" target="_blank">
                    <span>
                    <img ng-src="/site/assets/pyxis-logo.png"  data-at2x="/site/assets/pyxis-logo@2x.png" />
                    <img ng-src="/site/assets/pyxis-logo-white.png"  data-at2x="/site/assets/pyxis-logo-white@2x.png" />
                    </span>
                </a>
            </div>
            <div class="menu-column">
                <a class="link--menu" href="">
                    <span>Download the app</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="menu-panels__panel">
    <div class="menu-column">
       <div class="menu-row menu-row--home">
            <a class="link--menu" href="/" ng-click="menu.toggle()">
                <span>Home</span>
            </a>
        </div>
        <div class="menu-row menu-row--features">
            <a class="link--menu" href="/features" ng-click="menu.toggle()">
                <span>Features</span>
            </a>
        </div>
        <div class="menu-row menu-row--news">
             <a class="link--menu" href="/news" ng-click="menu.toggle()">
                <span>News</span>
             </a>
        </div>
        <div class="menu-row menu-row--faq">
            <a class="link--menu" href="">
                <span>FAQ</span>
            </a>
        </div>
    </div>
    <div class="menu-column">
        <div class="menu-row menu-row--contact">
            <div class="contact__wrapper">
                <div class="contact__container">
                    <h2 class="headline">Contact</h2>
                    <div class="contact__section">
                        <a class="link link--normal link--medium" href="mailto:support@pyxisinnovation.com">support@pyxisinnovation.com</a>
                    </div>
                    <div class="contact__section">
                        <a class="link link--underline" href="">More info <i class="nc-icon-glyph arrows-1_tail-right"></i></a>
                    </div>
                    <div class="contact__section">
                        <p class="contact__section__name">Phone:</p>
                        <strong>Toll Free (Canada &amp; US):</strong>
                        <p>1.888.233.0321</p>
                        <strong>International</strong>
                        <p>1.888.233.0321</p>
                    </div>
                      <div class="contact__section">
                        <p class="contact__section__name">Business Hours:</p>
                        <strong>Monday to Friday</strong>
                        <p>
                            7:00 to 17:00 MT
                            <br/>
                            (14:00 to 22:00 GMT)
                        </p>
                   
                    </div>
                     <div class="contact__section">
                        <p class="contact__section__name">Fax:</p>
                        <p>1.888.334.6065</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="menu-row menu-row--share">
                <a class="link--menu" href="">
                    <span>Follow us</span>
                 </a>
                <div class="share-icons">
                    <a class="share-icon" href=""><i class="nc-icon-glyph socials-1_logo-twitter"></i></a>
                    <a class="share-icon" href=""><i class="nc-icon-glyph socials-1_logo-facebook"></i></a>
                    <a class="share-icon" href=""><i class="nc-icon-glyph socials-1_logo-linkedin"></i></a>
                </div>
         </div>
    </div>
</div>
