/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

S T A N D A R D 
                    
¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡
*/

html
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

html
body
    height: 100%
    width: 100%
    
img
video
iframe
    border: 0
    display: block
    height: auto
    max-width: 100%
    -ms-interpolation-mode: bicubic

a
a:link 
a:hover
a:visited
    text-decoration: none
    
h1
h2
h3
h4
h5
figure 
    font-weight: normal
    margin: 0

p
ol
ul
article
section
    padding: 0
    margin: 0
    -webkit-margin-after: 0
    -webkit-margin-before: 0


ol
ul
    list-style: none
   
b
strong 
    font-weight: bold 
    
/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

C L A S S E S 
                    
¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡
*/

.text-center
    text-align: center !important

.text-left
    text-align: left

.text-right
    text-align: right
    
.center
    margin: 0 auto 


