/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

:::       :::  ::::::::  :::::::::  :::        :::::::::  :::     ::: ::::::::::: :::::::::: :::       ::: 
:+:       :+: :+:    :+: :+:    :+: :+:        :+:    :+: :+:     :+:     :+:     :+:        :+:       :+: 
+:+       +:+ +:+    +:+ +:+    +:+ +:+        +:+    +:+ +:+     +:+     +:+     +:+        +:+       +:+ 
+#+  +:+  +#+ +#+    +:+ +#++:++#:  +#+        +#+    +:+ +#+     +:+     +#+     +#++:++#   +#+  +:+  +#+ 
+#+ +#+#+ +#+ +#+    +#+ +#+    +#+ +#+        +#+    +#+  +#+   +#+      +#+     +#+        +#+ +#+#+ +#+ 
 #+#+# #+#+#  #+#    #+# #+#    #+# #+#        #+#    #+#   #+#+#+#       #+#     #+#         #+#+# #+#+#  
  ###   ###    ########  ###    ### ########## #########      ###     ########### ##########   ###   ###  

¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/                                                                                                                                                                                                              

// http://getbem.com/naming/

// Block    - .blockname or .block-name 
// Element  - .block-name__element 

// Modifiers and States
// a. with  - .blockname.with-divider
// b. has   - .blockname.has-background
// c. is    - .blockname.is-open
// d. type  - .blockname.type-post

// JS Hook  - .js-blockname 

@require 'fonts/nucleo-webfonts-1-9/outline/css/nucleo-outline.css'
@require 'fonts/nucleo-webfonts-1-9/glyph/css/nucleo-glyph.css'
@require 'fonts/icomoon/style.css'
@require 'fonts/*'
@require 'grid/*'
@require 'utilities/*'
@require 'universal/*'
@require 'mixins/*'
@require 'response/*'

//edit()

/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

G L O B A L  V A R I A B L E S   
             
¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡
*/

// ease-in
ease-in-quad =      cubic-bezier(0.550,  0.085, 0.680, 0.530)
ease-in-cubic =     cubic-bezier(0.550,  0.055, 0.675, 0.190)
ease-in-quart =     cubic-bezier(0.895,  0.030, 0.685, 0.220)
ease-in-quint =     cubic-bezier(0.755,  0.050, 0.855, 0.060)
ease-in-sine =      cubic-bezier(0.470,  0.000, 0.745, 0.715)
ease-in-expo =      cubic-bezier(0.950,  0.050, 0.795, 0.035)
ease-in-circ =      cubic-bezier(0.600,  0.040, 0.980, 0.335)
ease-in-back =      cubic-bezier(0.600, -0.280, 0.735, 0.045)
ease-in-swift =     cubic-bezier(0.900,  0.000, 0.450, 1.000)

// ease-out
ease-out-quad =     cubic-bezier(0.250,  0.460, 0.450, 0.940)
ease-out-cubic =    cubic-bezier(0.215,  0.610, 0.355, 1.000)
ease-out-quart =    cubic-bezier(0.165,  0.840, 0.440, 1.000)
ease-out-quint =    cubic-bezier(0.230,  1.000, 0.320, 1.000)
ease-out-sine =     cubic-bezier(0.390,  0.575, 0.565, 1.000)
ease-out-expo =     cubic-bezier(0.190,  1.000, 0.220, 1.000)
ease-out-circ =     cubic-bezier(0.075,  0.820, 0.165, 1.000)
ease-out-back =     cubic-bezier(0.175,  0.885, 0.320, 1.275)
ease-out-swift =    cubic-bezier(0.550,  0.000, 0.100, 1.000)

// ease-in-out
ease-in-out-quad =  cubic-bezier(0.455,  0.030, 0.515, 0.955)
ease-in-out-cubic = cubic-bezier(0.645,  0.045, 0.355, 1.000)
ease-in-out-quart = cubic-bezier(0.770,  0.000, 0.175, 1.000)
ease-in-out-quint = cubic-bezier(0.860,  0.000, 0.070, 1.000)
ease-in-out-sine =  cubic-bezier(0.445,  0.050, 0.550, 0.950)
ease-in-out-expo =  cubic-bezier(1.000,  0.000, 0.000, 1.000)
ease-in-out-circ =  cubic-bezier(0.785,  0.135, 0.150, 0.860)
ease-in-out-back =  cubic-bezier(0.680, -0.550, 0.265, 1.550)
ease-in-out-swift = cubic-bezier(0.900,  0.000, 0.100, 1.000)

site-color = {}
site-sizes = {}

font-color = {}
font-sizes = {}
font-stack = {}

site-sizes['max-width'] = 1440

// General
site-color['black'] = #000000
site-color['white'] = #FFFFFF

site-color['light-neutral'] = #F9F9F9
site-color['medium-neutral'] = #EEEEEE
site-color['med-dark-neutral'] = #BFBFBF
site-color['dark-neutral'] = #4C4C4C

// Brand 
site-color['pop-primary'] = #F9423A

// Specific 
site-color['border-neutral'] = #E4E4E4

// Notifications 
site-color['error'] = #D50000
site-color['info'] = #03A9F4
site-color['success'] = #00C853
site-color['warning'] = #FFC107

// site-color['pop-primary'] = #005CC4

/*
A text color that is too similar to the background color is hard to read. 
Text with too much contrast can also be hard to read. This is especially 
true of light-colored text against dark backgrounds.

Text should maintain a minimum contrast ratio of at least 4.5:1 
(calculated based on luminance values) for legibility. A ratio 
of 7:1 is preferred.

These color combinations also consider contrast ratios for users 
who perceive color differently.
*/

font-color['dark-primary'] = rgba(0, 0, 0, 0.54)
font-color['dark-secondary'] = rgba(0, 0, 0, 0.87)
font-color['dark-caption'] = rgba(0, 0, 0, 0.54)
font-color['dark-disabled'] = rgba(0, 0, 0, 0.30)
font-color['light-primary'] = rgba(255, 255, 255, 1)
// font-color['light-secondary'] = rgba(0, 0, 0, 0.87)
// font-color['light-caption'] = rgba(0, 0, 0, 0.54)
// font-color['light-disabled'] = rgba(0, 0, 0, 0.30)

font-sizes['small'] = px(12)
font-sizes['normal'] = px(16)
font-sizes['medium'] = px(20)
font-sizes['large']  = px(24)
font-sizes['xlarge'] = px(44)
font-sizes['title'] = px(28)
font-sizes['menu'] = px(36)

font-stack['book'] = 'Relative'
font-stack['bold'] = 'Relative Bold'
font-stack['book-italic'] = 'Relative Italic'
font-stack['bold-italic'] = 'Relative Bold Italic'

$container-padding = 64

$header-start-height = 124
$header-outer-height = 88
$header-inner-height = 52
$header-zindex = 1999
$menu-zindex = 1899


/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

A N I M A T I O N S
             
¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡
*/


@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform-property(translateY(0))
	}
	40% {
		transform-property(translateY(-32px))
	}
	60% {
		transform-property(translateY(-16px))
	}
}

.bounce
	vendor('animation', bounce 1.3s 2)

/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

U T I L I T Y
             
¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡
*/

strong 
	font-family: font-stack['bold']

ol.list-roman 
	list-style: lower-roman outside !important

ol.list-roman li 
	margin-bottom: px(8)
		
.pusher
	display: block
	height: px(72)
	width: 100%
	cf()

/*  HR element that has centered (delimiter) text - requires i18n="my delimiter" */ 
.hr-delimiter
	background-color: site-color['medium-neutral']
	border: none
	display: block
	font-size: 0
	height: 1px
	overflow: visible
	position: relative
	width: 100%

.hr-delimiter:after
	align(absolute, 'both')
	background-color: site-color['white']
	content: attr(text)
	font-size: font-sizes['small']
	margin-top: -1px
	padding: 0 8px

.help-info 
	border: 1px solid site-color['dark-neutral']
	position: relative 
	text-align: center
	circle(36)

.help-info span
	font-size: font-sizes['medium']
	height: 100%
	left: 0
	line-height: px(36) 
	position: absolute 
	top: 0
	width: 100%	

.preserve-3d
	vendor('transform-style', preserve-3d) 
	
.has-border-bottom 
	border-bottom: 1px solid site-color['border-neutral']

.has-border-top
	border-top: 1px solid site-color['border-neutral']

.has-border-left
	border-left: 1px solid site-color['border-neutral']

.has-border-right
	border-right: 1px solid site-color['border-neutral']

.is-sticky 
	transition(transform 0.6s ease)

.icon-windows8:before
	content: "\e600"


/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

B U T T O N S -&- L I N K S
             
¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡
*/

$btn-menu-padding = 24

.link 
	color: inherit
	text-decoration: none

.link--medium
	font-size: font-sizes['medium']
	
.link--large 
	font-size: font-sizes['large']
	
.link--normal
	color: font-color['dark-secondary'] 
	text-decoration: none
	background-image: -webkit-linear-gradient(font-color['light-primary'] 0%, font-color['dark-secondary'] 100%)
	background-image: linear-gradient(font-color['light-primary'] 0%, font-color['dark-secondary'] 100%)
	background-repeat: repeat-x
	background-size: 1px 1px
	background-position: 0 95%
	text-shadow: 3px 0 site-color['white'], 2px 0 site-color['white'], 1px 0 site-color['white'], -1px 0 site-color['white'], -2px 0 site-color['white'], -3px 0 site-color['white']
 	
@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi)
	.link--normal 
		background-image: -webkit-linear-gradient(font-color['light-primary'] 0%, font-color['dark-secondary'] 100%)
		background-image: linear-gradient(font-color['light-primary'] 0%, font-color['dark-secondary'] 100%)
		background-position: 0 93%;

.link--normal:hover 
	color: site-color['pop-primary']
	background-image: -webkit-linear-gradient(top, site-color['pop-primary'] 0%, site-color['pop-primary'] 100%)
	background-image: linear-gradient(to bottom, site-color['pop-primary'] 0%, site-color['pop-primary'] 100%)

.link--normal ::-moz-selection
.link--normal  > *::-moz-selection 
	background-color: #c9dbb0
	color: #57534a
	text-shadow: none

.link--normal::selection
.link--normal > *::selection 
	background-color: #c9dbb0
	color: #57534a
	text-shadow: none

.link--normal::-moz-selection
.link--normal > *::-moz-selection 
	background-color: #c9dbb0
	color: #57534a
	text-shadow: none

h1 .link--normal
h2 .link--normal
h3 .link--normal 
	background-size: 1px 2px
	
@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) 
	h1 .link--normal
	h2 .link--normal
	h3 .link--normal 
		background-position: 0 93%
		background-image: -webkit-linear-gradient(font-color['dark-secondary']  0%, font-color['dark-secondary']  100%)
		background-image: linear-gradient(font-color['dark-secondary']  0%, font-color['dark-secondary']  100%)
		background-size: 1px 1px
		background-position: 0 93%
		
.link--block 
	background-color: transparent 

.link--block:hover 
	background-color: site-color['white']
	color: site-color['black']

.link--underline
	color: site-color['black']
	position: relative
	
.link--underline:before 
	background: site-color['black']
	bottom: -3px
	content: ''
	height: 1px
	left: 0
	position: absolute
	visibility: hidden
	width: 100%
	transform-property(scaleX(0))
	transition(all 0.4s ease-in-out-expo 0s)

.link--underline:hover:before 
	visibility: visible
	transform-property(scaleX(1))

.link--underline.reverse:before
	transform-property(scaleX(1)) 
	visibility: visible

.link--underline.reverse:hover:before
	transform-property(scaleX(0)) 
	visibility: hidden

.link--swap img:last-child 
	display: none

.link--swap:hover img:first-child
	display: none

.link--swap:hover img:last-child
	display:inline-block

.btn 
	color: inherit
	display: inline-block
	line-height: 1
	text-align: center
	text-decoration: none
	transition(all 0.1s ease-in-out-sine)

.btn--small
	font-size: font-sizes['normal']
	padding: px(12) px(20) px(12)

.btn--medium 
	font-size: font-sizes['medium']
	padding: px(16) px(28) px(16)

.btn--large 
	font-size: font-sizes['large']
	padding: px(16) px(28) px(16)
	
.btn--liquid 
	display: table 
	height: 100%
	padding-top: 0
	width: 100%

.btn--liquid span
	display: table-cell  
	font-size: font-sizes['medium']
	vertical-align: middle
	
.btn--white 
	background-color: site-color['white']
	border: 2px solid transparent
	color: site-color['black']
	font-family: font-stack['bold']

.btn--white.reverse
.btn--white:hover 
	background-color: transparent 
	border: 2px solid site-color['white']	
	color: site-color['white']	

.btn--white.reverse:hover 
	border: 2px solid transparent 
	background-color: site-color['white']
	color: site-color['black']
	
.btn--black
	background-color: site-color['black']
	border: 2px solid transparent 
	color: site-color['white']
	font-family: font-stack['bold']

.btn--black.reverse
.btn--black:hover 
	background-color: transparent 
	border: 2px solid site-color['black']	
	color: site-color['black']	

.btn--black.reverse:hover 
	border: 2px solid transparent 
	background-color: site-color['black']
	color: site-color['white']
	
.btn--action
	background: site-color['pop-primary']
	border: 2px solid transparent
	color: site-color['white']
	font-family: font-stack['bold']
	position: relative
	transition(all 0.3s ease-in-out-sine) 

.btn--action.reverse 
.btn--action:hover 
	background-color: transparent 
	border: 2px solid site-color['pop-primary']	
	color: site-color['pop-primary']

.btn--action.reverse:hover 
	border: 2px solid transparent 
	background-color: site-color['pop-primary']
	color: site-color['white']

.btn--phantom 
	border-color: transparent
	border-style: solid 
	border-width: px(2)
	color: site-color['white']
	transition(border 0.2s linear)

.btn--phantom.reverse
	border-color: darken(site-color['white'], 80%)
	
.btn--phantom.reverse:hover
.btn--phantom:hover 
	border-color: site-color['white']
	
.btn--rounded 
	border-radius(px(4))

.btn-menu  
	font-size: font-sizes['medium']
	height: auto
	padding: 0 px($btn-menu-padding)
	line-height: px($header-inner-height - 4)
	border-radius(px(4))

.btns 
	display: table 
	height: px(64)
	width: 100%

.btns .btn 
	background-color: transparent
	border-color: tint(site-color['pop-primary'], 65%)
	border-style: solid
	color: site-color['pop-primary']
	display: table-cell
	font-size: font-sizes['medium']
	height: 100%
	vertical-align: middle
	width: 50%

.btns .btn--switch:first-child
	border-width: 2px 0 2px 2px 
	border-radius(4px 0px 0px 4px)

.btns .btn--switch:last-child 
	border-width: 2px 2px 2px 0 
	border-radius(0px 4px 4px 0px)

.btns .btn--switch.is-active 
	border-color: transparent
	background-color: site-color['pop-primary']
	color: site-color['white']
	
.share
	cursor: pointer 
	display: inline-block
	height: auto
	position: relative

.share__items 
	height: auto
	left: 0
	position: absolute 
	top: 0
	width: px(144)
	transition(transform 0.6s ease-in-out-back)
	transform-property(translateX(100%))

.share__item 
.share__trigger
	color: site-color['pop-primary']
	display: inline-block
	margin-left: px(8)
	vertical-align: middle

.share__trigger
	opacity: 1
	transition(opacity 0.3s linear)

.share: hover .share__trigger
	opacity: 0.15
	
.share__item
	opacity: 0
	
.share:hover .share__items 
	transform-property(translateX(-60%))
	
.share:hover .share__item
	opacity: 1

.share__item:first-child
	transition(opacity 0.3s linear 0.3s)
	
.share__item:nth-child(2n)
	transition(opacity 0.3s linear 0.4s)
	
.share__item:last-child
	transition(opacity 0.3s linear 0.5s)

/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

T E X T -&- F O R M S
             
¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡
*/

// Color

.display-dark
	color: font-color['dark-primary'] 

.display-light
	color: font-color['light-primary'] 

.normal-dark
	color: font-color['dark-secondary']
	
.caption-dark
	color: font-color['dark-caption'] 
	
.caption-light
	color: font-color['light-caption'] 
	
// Size

.headline
	font-size: font-sizes['xlarge']
	line-height: auto-line-height(font-sizes['xlarge'])

.headline-description
	font-size: font-sizes['large'] 
	margin-top: px(22) // @2 88px
	line-height: auto-line-height(font-sizes['large'], 0.25)

.title
	font-size: font-sizes['title'] 
	line-height: auto-line-height(font-sizes['title'])

.title i 
	font-size: px(font-sizes['title'] + 4)
	vertical-align: bottom
	padding-right: px(8)
		
.subtitle
	font-family: font-stack['bold']

.description
	font-size: font-sizes['medium'] 
	line-height: auto-line-height(font-sizes['medium'], 0.25)

.form-panel__split
	height: auto
	column(6/12)

.form__footer
	row(cancel-margin: true)

.form__footer .form-sumbit
.form__footer .form-info
	column(6/12)

.form__footer .form-info p 
	font-family: font-stack['book-italic']
	font-size: font-sizes['small']
	line-height: auto-line-height(font-sizes['small'], 0.5)

.form__footer a.btn 
	float: right

.label-small
	color: font-color['dark-caption']
	display: block
	font-size: font-sizes['small']
	padding-bottom: px(8)

.label--bottom 
	padding-top: px(8)

.label-small input 
	margin-right: px(8)
	
input::-webkit-input-placeholder 
	color: font-color['dark-caption']
	opacity: 1
	transition(opacity 0.3s ease-in-out)

input:-moz-placeholder 
	color: font-color['dark-caption']
	opacity: 1
	transition(opacity 0.3s ease-in-out)

input::-moz-placeholder 
	color: font-color['dark-caption']
	opacity: 1
	transition(opacity 0.3s ease-in-out)

:hover:-ms-input-placeholder 
	opacity: 0.5
	
:focus:-ms-input-placeholder 
	opacity: 0

:focus::-webkit-input-placeholder 
	opacity: 0

:focus:-moz-placeholder 
	opacity: 0

:focus::-moz-placeholder 
	opacity: 0

:focus:-ms-input-placeholder 
	opacity: 0

.input
	color: font-color['dark-secondary']
	background: site-color['white']
	border: 2px solid transparent
	min-height: px(48)
	padding: 0 px(8)
	outline: none
	width: 100%
	-webkit-font-smoothing: antialiased
	transition(all 0.3s linear)

.input:focus
	border: 2px solid site-color['med-dark-neutral']
	
.input--success
.input[class^="ng-valid-"]:not(.ng-pristine)
.input[class*=" ng-valid-"]not(.ng-pristine)
	border: 2px solid site-color['success']
	color: site-color['success']
	
.input--error
.input.ng-invalid
.input[class^="ng-invalid-"]:not(.ng-touched)
.input[class*=" ng-invalid-"]:not(.ng-touched)
	border: 2px solid site-color['error']
	color: site-color['error']

.input--warning 
	border: 2px solid site-color['warning']
	color: site-color['warning']

.input--rounded 
	border-radius(px(4))

.input--small
	font-size: font-sizes['medium'] 
	height: px(44)
	line-height: px(44)	
	padding: 0 px(16)
	
.input--large 
	font-size: font-sizes['medium'] 
	height: px(80)
	line-height: px(80)	
	padding: 0 px(32)
 
.form-message 
[class^="validation-"]
[class*=" validation-"]
	display: inline-block
	font-size: font-sizes['small']
	padding-top: px(4)
	padding-bottom: px(4)

.form-message--success 
.validation-valid
	color: site-color['success']
	
.form-message--error
.validation-invalid
	color: site-color['error']

.form-message--warning
	color: site-color['warning']
	
 // Angular specific
 	
// .ng-valid
// 	@extends .input--success
	
// .ng-invalid 
// 	@extends .input--error
	
.ng-pristine {}
.ng-dirty    {}
.ng-touched  {}


/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

G E N E R A L
             
¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡
*/

border-box-html()

body
	font-family: font-stack['book']
	color: font-color['dark-secondary']

.wrapper
.header
.footer
.surface 
	width: 100%

.wrapper 
	height: auto !important
	max-width 100%
	min-height: 100%
	overflow: hidden

.surface 
	margin: 0 auto
	max-width: 100%

.surface:before
.surface:after 
	content: ' '
	display: table 

.surface:after 
	clear: both

.surface--collapsed .surface 
	margin-left: 0
	margin-right: 0 

.container 
	height: auto
	margin-left: auto
	margin-right: auto
	max-width: px(site-sizes['max-width'])
	padding-left: px($container-padding)
	padding-right: px($container-padding)
	position: relative
	cf()

.container--expanded
	height: 100%
	

/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

C H R O M E
             
¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡
*/

$hamburger-duration = 0.5
$hamburger-width = 24
$hamburger-height = 3
$hamburger-top = 8
$hamburger-space = ($hamburger-top / 2)
$menu-animation-time = 0.2s

.header 
	background-color: site-color['black']
	height: auto
	left: 0
	position: fixed
	top: 0
	z-index: $header-zindex
	box-sizing(content-box)
	transition(background 0.3s ease)

.header__container 
	color: site-color['white']
	font-size: 0
	height: px($header-inner-height)
	margin: 0 auto
	max-width: site-sizes['max-width'] +  px($container-padding * 2)
	padding-bottom: px(($header-start-height - $header-inner-height) / 2)
	padding-top: px(($header-start-height - $header-inner-height) / 2)
	padding-left: px($container-padding)
	padding-right: px($container-padding)
	transition(all 0.25s ease)

.header__container * 
	box-sizing(border-box)

body.news .header 
body.privacy .header 
body.terms .header 
.header.is-active
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	
.header.is-active .header__container 
body.type-page .header .header__container 
	padding-bottom: px(($header-outer-height - $header-inner-height) / 2)
	padding-top: px(($header-outer-height - $header-inner-height) / 2)

.header__container .wv-logo
	cursor: pointer 
	float: left
	position: relative 
	font-size: 0
	
.header__container .wv-logo img
	align(absolute)
	
.header__container .wv-logo img
.header__container .wv-logo span
	display: inline-block
	vertical-align: middle

.header__container .wv-logo span
	color: site-color['white'] 
	font-size: font-sizes['medium']
	line-height: px($header-inner-height)
	margin-left: px(118) // @2 144
	
.header__container .menu 
	float: right
	max-height: px($header-inner-height)

.footer 
	background-color: site-color['medium-neutral']
	height: px(144)
	
.footer__container
	height: 100%
	margin: 0 auto
	max-width: site-sizes['max-width'] +  px($container-padding * 2)
	padding-left: px($container-padding)
	padding-right: px($container-padding)
	position: relative

.footer__container .pyxis-logo 
	align()
	
.footer .links
	font-size: 0
	height: auto
	margin-right: px($container-padding)
	right: 0
	align(absolute)

.footer .links .circle
	background-color: site-color['med-dark-neutral']
	circle(4)
	 	
.footer .links .circle 	
.footer .links .link 
	display: inline-block
	margin-left: px($container-padding / 2)
	vertical-align: middle
	
.footer .links .link 
	font-size: font-sizes['normal']

.links li 
	margin-bottom: px(8)
		
.menu .btn
.menu .link
.menu .circle 
	display: inline-block

.menu .btn-menu
	margin-left: px(16)
	margin-right: px(16)

.menu .link 
	font-size: font-sizes['medium']
	line-height: px($header-inner-height)

.menu .circle 
	background-color: site-color['white']
	circle(8)

.menu .link--open 
	margin-left: px(40)

.hamburger 
	cursor: pointer
	display: inline-block
	margin-left: px(16)
	margin-top:px(-($hamburger-top / 2))
	padding: px($hamburger-top) 0
	position: relative 
	user-select: none
	vertical-align: middle
	transition(0.15s)

.hamburger__icon:before
.hamburger__icon:after 
	transition(0.15s)

.link--open:hover .hamburger 
	transition(0.3s)

.link--open:hover .hamburger__icon:before
.link--open:hover .hamburger__icon:after 
	transition(all 0.15s)

.link--open:hover .hamburger__icon:before 
	top: px($hamburger-top + ($hamburger-space / 2))

.link--open:hover .hamburger__icon:after 
	top: px(($hamburger-top + ($hamburger-space / 2)) * -1)

.hamburger__icon 
	background: site-color['white']
	height: px($hamburger-height)
	position: relative
	width: px($hamburger-width)
	transition(0.1s)

.hamburger__icon:before
.hamburger__icon:after 
	display: block
	content: ''
	height: px($hamburger-height)
	width: px($hamburger-width)
	background: site-color['white']
	position: absolute
	z-index: -1
	transition(0.2s 0.1s)

.hamburger__icon:before 
	top: px($hamburger-top)

.hamburger__icon:after 
	top: px($hamburger-top * -1)

.hamburger.is-active:not(.steps) .hamburger__icon:before
.hamburger.is-active:not(.steps) .hamburger__icon:after 
	top: 0 !important

.hamburger.is-active .hamburger__icon:before
.hamburger.is-active .hamburger__icon:after 
	transition(0.4s)

.hamburger.is-active .hamburger__icon 
	background: transparent

.hamburger.is-active .hamburger__icon:before 
	transform: rotate(-45deg)

.hamburger.is-active .hamburger__icon:after 
	transform: rotate(45deg)

.menu-panels 
	background-color: site-color['light-neutral']
	display: block
	left: 0
	height: 100%
	overflow: hidden
	padding-top: $header-start-height
	position: fixed
	top: 0
	width: 100%
	visibility: hidden
	z-index: $menu-zindex 
	transform-property(translateY(-100%))
	transition(transform $menu-animation-time ease-out-swift, visibility 0s $menu-animation-time)

.menu-panels.is-active
	padding-top: $header-outer-height
	visibility: visible
	transform-property(translateY(0%))
	transition(transform $menu-animation-time linear)
	
.menu-panels__panel
	border-right: 1px solid rgba(0, 0, 0, 0.15)
	height: 100%
	opacity: 0
	column(6/12, gutters: 0)
	transition(opacity 0.4s linear 0.2s)

.menu-panels.is-active .menu-panels__panel
	opacity: 1
	
.menu-panels__panel .menu-row 
	row(cancel-margin:true)

.menu-panels__panel > .menu-column 
.menu-row > .menu-column 
	border-right: 1px solid rgba(0, 0, 0, 0.15)

.menu-panels__panel .menu-row > .menu-column:last-child
.menu-panels__panel > .menu-column:last-child
	border-right: 0

.menu-panels__panel > .menu-column 
	float: left 
	
.menu-row
	border-bottom: 1px solid rgba(0, 0, 0, 0.15)
	height: auto
	width: 100%

.menu-column 
	height: 100%
	width: 50%

.menu-column.full 
	width: 100%
	
.menu-row > .menu-column 
.menu-column  > .menu-row
	display: block
	overflow: hidden
	text-align: center   
	
.menu-row > .menu-column 
	float: left
	
.menu-column > .menu-row
	width: 100%	

.menu-column a.link--menu
	background-color: inherit
	display: table
	font-size: font-sizes['menu']
	height: 100%
	width: 100% 
	transition(all 0.3s ease)
	+laptop()
		font-size: font-sizes['large']
	
.menu-column a.link--menu span 
	display: table-cell
	vertical-align: middle
	
.menu-column a.link--menu:hover 
	color: site-color['white']
	background-color: site-color['black']
	 	 	  
.menu-column a img 	
	margin: auto

.menu-row--globe
	background-image: url('../assets/globes/globe-black-and-white.png')
	background-position: center center
	background-repeat: no-repeat
	background-size: 60% 
	
.menu-row--globe
.menu-row--contact 
	height: 75%

.menu-row--faq
.menu-row--features	
.menu-row--home
.menu-row--news
.menu-row--pyxis
.menu-row--share
	height: 25%
					
.menu-row--contact 
	padding: 0 px(88) //@1 88px
	text-align: left !important
	+laptop()
		padding: 0 px(44) //@1 88px
	
.menu-row--globe .btn 
	align(absolute, 'both')

.menu-row--contact .headline 
	font-size: font-sizes['menu']
	+laptop()
		font-size: font-sizes['large']

.menu-row--contact .contact__wrapper
	display: table 
	height: 100%
	text-align: center
	width: 100%
	
.menu-row--contact .contact__container 
	display: table-cell  
	margin-left: auto
	margin-right: auto
	text-align: left
	vertical-align: middle
	width: auto
		
.menu-row--contact .contact__section
	margin-top: px(20) //@2 64px
	width: auto

.menu-row--contact .contact__section:first-of-type
	margin-top: px(14) //@2 64px

.menu-row--contact .contact__section:nth-of-type(2)
	margin-top: px(12)

.menu-row--contact .contact__section:nth-of-type(3)
	margin-top: px(22) //@2 64px
		
.menu-row--contact  .contact__section__name
	color: site-color['black']
	margin-bottom: px(4)
	
.menu-row--contact p 
	line-height: auto-line-height(font-sizes['medium'])
	
.menu-row--share
	overflow: hidden

.menu-row--share:hover a.link--menu
	background: transparent
	color: lighten(font-color['dark-secondary'], 30%)
	height: 50%
	transition(all 0.3s ease-in-out-circ)
		
.menu-row--share .share-icons 
	background: site-color['black']
	height: 50%
	position: relative
	width: 100%

.menu-row--share .share-icon
	display: inline-block
	font-size: font-sizes['xlarge']
	margin-left: px(16)
	margin-right: px(16)
	opacity: 0
	align()
	+laptop()
		font-size: font-sizes['large']

.menu-row--share .share-icon i 
	color: site-color['white']
	
.menu-row--share:hover .share-icon
	opacity: 1
	transition(opacity 0.6s ease-in-out 0.15s)

.menu-row--pyxis img 
	max-height: px(36)
	+laptop()
		max-height: px(32)
	
.menu-row--contact .headline
.menu-column a.link--menu
.menu-row--contact p 
.menu-row--contact strong
.menu-row--share .share-icon
	color: lighten(font-color['dark-secondary'], 30%)
 		
body.type-page .header
body.on-white  .header
	background-color: transparent

body.type-page .header.is-active 
.header.on-white
	background-color: site-color['white']
	
body.type-page .header .header__container 
body.type-page .header .header__container .wv-logo span
body.type-page .header .header__container .btn-menu
.header.on-white .header__container 
.header.on-white .header__container .wv-logo span
.header.on-white .header__container .btn-menu
	color: site-color['black']

body.type-page .header .header__container .circle 
body.type-page .header .hamburger__icon:before
body.type-page .header .hamburger__icon:after 
body.type-page .header .hamburger__icon 
.header.on-white .header__container .circle 
.header.on-white .hamburger__icon:before
.header.on-white .hamburger__icon:after 
.header.on-white .hamburger__icon 
	background-color: site-color['black']

body.type-page .header .hamburger.is-active .hamburger__icon 
.header.on-white .hamburger.is-active .hamburger__icon 
	background-color: transparent
	
body.type-page .header .btn--phantom.reverse
.header.on-white .btn--phantom.reverse
	border-color: lighten(site-color['black'], 90%)
	
body.type-page .header .btn--phantom:hover 
body.type-page .header .btn--phantom.reverse:hover
.header.on-white .btn--phantom:hover 
.header.on-white .btn--phantom.reverse:hover
	border-color: site-color['black']

.logo-black
.logo-white 
	position: absolute 
	transition(opacity 0.2 ease-in-out)

.header .logo-white
	opacity: 1
	
.header .logo-black
	opacity: 0
		
body.type-page .logo-white
.header.on-white .logo-white
	opacity: 0 

body.type-page .logo-black
.header.on-white .logo-black
	opacity: 1 
		
/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

M O D U L E S
             
¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡
*/

$banner-header-zindex = 99
$banner-header-margin-desktop = 356
$banner-header-margin-laptop = 220
$banner-footer-margin = 88
$banner-globe-zindex = 1
$banner-globe-desktop = 1600
$banner-globe-laptop = 1200
$banner-globe-tablet = 800
$banner-globe-mobile = 400

$modal-max-width = 644
$modal-zindex = 3000
$modal-overlay-zindex = 2999
$modal-footer-height = 80

// Shared 

.banner__header 
.discover__header
	row()

// Modals

.modal 
	position: fixed
	top: 50%
	left: 50%
	width: 50%
	max-width: px($modal-max-width)
	min-width: px($modal-max-width / 2)
	height: auto
	z-index: $modal-zindex
	visibility: hidden
	vendor('backface-visibility', hidden)
	transform-property(translateX(-50%) translateY(-50%))

.is-visible
	visibility: visible
	
.modal-overlay 
	position: fixed
	width: 100%
	height: 100%
	visibility: hidden
	top: 0
	left: 0
	z-index: $modal-overlay-zindex
	opacity: 0
	background-color: rgba(33, 33, 33, 0.75)
	// background-image: url('../assets/img-modal-overlay.jpg')
	// background-repeat: none
	// background-size: cover 
	transition(all 0.6s ease-in-out-back)
	
.is-visible ~ .modal-overlay 
	opacity: 1
	visibility: visible

.modal__content
	color: font-color['dark-secondary']
	position: relative
	margin: 0 auto
	
.modal__body
	background: site-color['medium-neutral']
	height: auto 
	padding: px(28) px(36)
	width: 100%
	border-radius(4px 4px 0 0)
	
.modal__header
	color: font-color['dark-secondary']

.modal__footer
	background: darken(site-color['medium-neutral'], 8%)
	height: px($modal-footer-height)
	padding: 0 px(36)
	width: 100%
	border-radius(0 0 4px 4px) 
	
.modal__footer .link
	line-height: px($modal-footer-height)
	text-shadow: 3px 0 darken(site-color['medium-neutral'], 8%), 2px 0 darken(site-color['medium-neutral'], 8%), 1px 0 darken(site-color['medium-neutral'], 8%), -1px 0 darken(site-color['medium-neutral'], 8%), -2px 0 darken(site-color['medium-neutral'], 8%), -3px 0 darken(site-color['medium-neutral'], 8%)
			
.slide-up-bottom .modal__content
	transform-property(translateY(20%))
	opacity: 0
	transition(all 0.6s ease-in-out-back)

.is-visible.slide-up-bottom .modal__content
	transform-property(translateY(0))
	opacity: 1

.register__form
	padding-top: px(16)

.register__form .form-panel
	row()
	padding-bottom: px(16)

.register__form .form-panel__inner
	column(8/12)

.register__form .form-panel .help-info
	float: left 
	margin-top: px(28)
	
.register-social 
	row(cancel-margin: true)
	padding-top: px(32) // @2 36px

.register-social .register__lead
	display: block
	color: font-color['dark-caption']
	font-size: font-sizes['normal']
	width: 100%

.register__services
	row(cancel-margin: true)
	padding: px(18) 0 // @2 36px
	
.register__service
	display: inline-block
	color: site-color['med-dark-neutral']
	font-size: px(32)
	float: left 
	margin-right: px(32)

.register__service:hover 
	color: site-color['dark-neutral']
	
.register-divider
	height: px(32)
	position: relative 
	overflow: hidden
	width: 100%

.register-divider span
	background-color: inherit
	display: inline-block
	font-size: font-sizes['small']
	height: 100%
	position: relative
	padding-right: px(8)
	line-height: px(32) 
	z-index: 9

.register-divider:after 
	background-color: site-color['med-dark-neutral']
	content: ''
	height: 1px 
	width: 100% 
	align(absolute)

 .register__form .link--normal
	text-shadow: 3px 0 site-color['medium-neutral'], 2px 0 site-color['medium-neutral'], 1px 0 site-color['medium-neutral'], -1px 0 site-color['medium-neutral'], -2px 0 site-color['medium-neutral'], -3px 0 site-color['medium-neutral']
	
.modal--sign-in
	max-width: px($modal-max-width - 200)
 	
.modal--sign-in .modal__body 
	padding-bottom: px(2)
	
.modal--sign-in .form-panel__inner 
	column(12/12)

.modal--sign-in .form-sumbit
	float: right  
	padding-right: 0
 	
// Banner

.banner 
	background: rgba(0,0,0,1)
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 100%)
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(36,36,36,1)))
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 100%)
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 100%)
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 100%)
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 100%)
	overflow: hidden
	
.banner__header .header-inner
	column(9/12, offset: 1.5/12, overflow: visible)
	
.banner__header 
	margin-top: px($banner-header-margin-desktop)
	z-index: $banner-header-zindex
	+laptop()
		margin-top: px($banner-header-margin-laptop)

.banner__header .btn 
	margin-top: px(68) // @2 88px
	+laptop()
		margin-top: px(32) // @1 44px
	
.banner__globe 
	bottom: 0
	margin-bottom: px(($banner-globe-desktop / 2) * -1)
	max-height: px($banner-globe-desktop)
	width: auto
	z-index: $banner-globe-zindex
	align(absolute, 'horizontal')
	+laptop()
		margin-bottom: px(-544)
		
.banner__globe img
	height: 100%
	max-width: none
	width: auto

.banner__footer
	bottom: 0
	position: absolute
	margin-bottom: px(44)
	width: 100%

.banner__footer a 
	display: inline-block
	font-size: px(36)
	
// Discover

$discover-card-media-height = 80
$discover-card-content-height = 20
$discover-card-gutters = 40

.discover
	padding-bottom: px(164) // @1 164px 
	padding-top: px(156) // @1 164px 

.discover__header .header-inner
	column(8/12, offset: 2/12)

.discover__header .title 
	color: site-color['black']
	font-family: font-stack['bold']
	margin-bottom: px(16)
	
.discover__content
	font-size: 0
	padding-top: px(79) // @1 88px
	row()

/*
.discover-card 
	cursor: pointer
	font-size: font-sizes['normal']
	max-width: px($discover-card-width + 40)
	min-height: px($discover-card-height)
	overflow: visible !important
	column(4/12, gutters: 40)
	
.discover-card__inner
	height: auto
	width: 100%
*/

.discover-card 
	display: inline-block
	font-size: font-sizes['normal']
	margin-left: unit($discover-card-gutters/site-sizes['max-width'] * 100, '%')
	margin-right: unit($discover-card-gutters/site-sizes['max-width'] * 100, '%')
	overflow: hidden
	position: relative
	column-span-complex(4/12, $discover-card-gutters/site-sizes['max-width'] )
	
.discover-card:before
	content: ""
	display: block
	padding-top: 100%

.discover-card__inner
	bottom: 0
	left: 0
	position:  absolute
	right: 0
	top: 0
	
.discover-card__media 
	background-repeat: no-repeat
	background-size: cover
	border-color: site-color['med-dark-neutral']
	border-style: solid 
	border-width: 1px 1px 0 1px
	height: unit($discover-card-media-height, '%')
	margin-bottom: unit($discover-card-content-height, '%') 
	overflow: hidden
	position: relative
	width: 100%
	border-radius(8px 8px 0 0)

.discover-card__media img 
	display: block
	height: auto
	max-width: 100%
   
.discover-card__content 
	background-color: site-color['white']
	border: 1px solid site-color['med-dark-neutral']
	bottom: 0
	height: unit($discover-card-content-height, '%') 
	overflow: hidden
	padding-bottom: 8px
	padding-left: 16px
	padding-top: 8px
	position: absolute
	width: 100%
	border-radius(0 0 8px 8px)
	 
.discover-card__title 
	margin-bottom: px(2px)
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap

.discover__footer
	padding-top: px(87) //@1x 88px

/* ==========================
 * T o u r
 ============================ */

$tour-panel-height = 688
$tour-data-height = 944

.tour__header
	padding-top: px(74) //@2 164px 
	padding-bottom: px(36)  //@2 88px 
	
.tour-panel
	height: auto
	column(6/12) 

.tour-panel .discover-cards
	background-color: transparent
	margin-left: -( ( 100 / 4 ) / 2)%
	position: absolute
	overflow: hidden
	width: 125%
	transform-property(translateY(-45%))
	
.tour-panel .discover-cards .discover-card
	column(3/12)

.tour__info .svg-icon
.tour__media .svg
	color: transparent
	background-color: transparent
	height:px(44)
	margin-bottom: px(14) //@2 44px
	width: auto
	
.svg-icon svg 
	margin-left: auto
	margin-right: auto
	max-width: 100%
	
.tour-search
.tour-embed 
	background-color: site-color['light-neutral'] 

// .tour-place .container
// 	background: url('../assets/img-tour-one-place.png') no-repeat center left

.tour-place	
.tour-embed
	padding-bottom: px(164) // @2 164px
	padding-top: px(164) // @2 164px

.tour-embed .tour__info
	margin-top: px(64)

.tour-search
	height: auto
	padding-top: px(164) // @2 164px
	overflow: hidden;
	
.tour-search .tour__info
	margin-bottom: px(88) //@1 88px
	column(6/12)
	align(relative, 'horizontal')

.tour-search .tour__info .svg-icon 
	height: px(36)
	
.tour-search .tour__media 
	row(cancel-margin: true) 

.tour-search .tour__media img 
	margin-bottom: px(-44)
	align(relative, 'horizontal')
	
.tour__vignettes
	row()
	margin-bottom: px(10)

.vignette
	column(3/12, gutters: 64)
	
.vignette__inner
	height: 100%
	position: relative
	width: 100%

.tour__info
.tour__media
	position: relative

.tour__info
	z-index: 9

.tour__media
	z-index: 1
	
.tour__info .title 
	color: site-color['black']
	font-family: font-stack['bold']
	margin-bottom: px(16) // @2 64px
	
.tour__info .description
	color: font-color['dark-primary']
	margin-bottom: px(16)
	
.tour__info .description:last-of-type
	margin-bottom: 0

.tour__info.on-dark .description
.tour__info.on-dark .title 
	color: site-color['white']
	
.tour__info .btn 
	margin-top: px(24) // @2 64px
	
.tour-combine
	// padding-bottom: px(146) // @2 404px
	// padding-top: px(136) // @2 288px	
	min-height: px(1140)
	overflow: hidden
	position: relative
	
.tour-combine .tour-panel:first-child
	height: 100%
	left: 0
	position: absolute
	top: 0
	width: 100%
	z-index: 1
	
.tour-combine .tour-panel:last-child 
	column(6/12, float: right)
	z-index: 10

.tour-combine .tour-panel
	height: 100%
	position: relative
	overflow: visible !important
		
.tour-combine .tour__info
	overflow: visible !important
	+desktop()
		align()
		column(5/12)
	+big-desktop()
		align()
		column(7/12, pull: 1/12, float: right)
	+laptop()
		width: 65%
		align(absolute, 'both')
	+small-laptop()
		width: 65%
		align(absolute, 'both')

.tour-combine .tour__media
	left: px(-344)
	height: 100%
	width: 100%
	align(absolute)
	+laptop()
		left: px(-544)
	+small-laptop()
		left: px(-644)
	
.tour-combine .tour__info .svg-icon 
	margin-left: px(-69)
	max-width: px(200)
	
.tour-combine img
	position: absolute 
	
.tour-combine img.top-layer 
	z-index: 9
	
.tour-combine img.mid-layer 
	z-index: 5

.tour-combine img.bot-layer 
	z-index: 1

.tour-online-or-app .tour__media
.tour-online-or-app .tour__info
	align()

.tour-embed .tour__info
.tour-online-or-app .tour__info
	column(5/12)

.tour-embed .tour__media
.tour-online-or-app .tour__media
	column(7/12, float: right) 

.tour-embed .tour__info .svg-icon
	margin-left: px(-22)
	max-width: px(84)

.tour-embed .tour__media
	height: px(564)
	margin-right: px(-44)
	overflow: visible
	position: relative

.tour-embed .tour__media img 
	bottom: 0
	position: absolute 

.tour-embed .tour__media img.frame-imac 
	bottom: px(64)
	left: 0
	max-width: px(636)
	z-index: 10

.tour-embed .tour__media img.frame-ipad 
	bottom: px(12)
	max-width: px(200)
	right: px(52)
	z-index: 20

.tour-embed .tour__media img.frame-android
	bottom: 0
	max-width: px(84)
	right: 0
	z-index: 30

.tour-embed .tour__media img.template 
	position: relative
	opacity: 0.5
	
.tour-place
	z-index: 1
		
.tour-place .tour__info
	margin-top: px(32)
	column(5/12, float: right)
	
.tour-place .tour__media
	column(7/12)
	margin-left: px(-10) // @1x gutters = 88px 

.tour-place .tour__info .svg-icon 
	height: px(72)
	margin-left: px(-7)
	width: px(72)
	
.tour-clarity .container 
	padding-bottom: px(82) // @2 164px
	padding-top: px(104) // @2 164px
	
.tour-clarity .tour__info
	column(6/12, offset:3/12)

.tour-clarity .vignette__icon
	text-align: center
	align(absolute, 'both')
	
.tour-store
	height: px($tour-panel-height)

.tour-store
	background: site-color['light-neutral'] url('../assets/img-tour-one-place.png') no-repeat center left (image-width('../assets/img-tour-one-place.png')/2) * -1

.tour-publish
.tour-data
	position: relative
	margin-top: px(82) //@ 1x 164px
	
.tour-publish
	background: url('../assets/img-tour-publish.png') no-repeat top center
	background-size: px(site-sizes['max-width'] + 300) auto
	margin-bottom: px(164) //@ 1x 164px
	z-index: 0

.tour-store .tour__info
	column(5/12, offset: 4/12)
	align()

.tour-publish .tour__info
	column(7/12, offset: 2.5/12)
	margin-top: px(290) // @1 164px

.tour-data 
	background:  #f0f0f0
	background-image: url('../assets/img-tour-data.png'), -moz-linear-gradient(bottom, #f0f0f0 0%, #ffffff 100%) 
	background-image: url('../assets/img-tour-data.png'), -webkit-gradient(left bottom, left top, color-stop(0%, #f0f0f0), color-stop(100%, #ffffff)) 
	background-image: url('../assets/img-tour-data.png'), -webkit-linear-gradient(bottom, #f0f0f0 0%, #ffffff 100%) 
	background-image: url('../assets/img-tour-data.png'), -o-linear-gradient(bottom, #f0f0f0 0%, #ffffff 100%) 
	background-image: url('../assets/img-tour-data.png'), -ms-linear-gradient(bottom, #f0f0f0 0%, #ffffff 100%) 
	background-image: url('../assets/img-tour-data.png'), linear-gradient(to top, #f0f0f0 0%, #ffffff 100%) 
	background-position: bottom center
	background-repeat: no-repeat
	height: px($tour-data-height)

.tour-data.is-converted 
	background:  #f0f0f0
	background-image: url('../assets/img-tour-data-converted.png'), -moz-linear-gradient(bottom, #f0f0f0 0%, #ffffff 100%) 
	background-image: url('../assets/img-tour-data-converted.png'), -webkit-gradient(left bottom, left top, color-stop(0%, #f0f0f0), color-stop(100%, #ffffff)) 
	background-image: url('../assets/img-tour-data-converted.png'), -webkit-linear-gradient(bottom, #f0f0f0 0%, #ffffff 100%) 
	background-image: url('../assets/img-tour-data-converted.png'), -o-linear-gradient(bottom, #f0f0f0 0%, #ffffff 100%) 
	background-image: url('../assets/img-tour-data-converted.png'), -ms-linear-gradient(bottom, #f0f0f0 0%, #ffffff 100%) 
	background-image: url('../assets/img-tour-data-converted.png'), linear-gradient(to top, #f0f0f0 0%, #ffffff 100%) 
	background-position: bottom center
	background-repeat: no-repeat

.tour-data .tour__info
	column(5/12, offset: 3.5/12)
	margin-top: px(17) // @2 164px

.tour-data .shape-file 
	right: 0
	align(absolute)

.tour-data .tour__info .svg-icon
	height: 124px;
	
.tour-online-or-app
	height: px(600)

.tour-online-or-app .tour__info
	column(5/12, float: right)
	align()

.tour-online-or-app .tour__info a.link 
	color: site-color['pop-primary']
	font-family: font-stack['bold']
	margin-left: px(16)
	
.tour-online-or-app .tour__media
	column(6/12) 
	align()

.tour-online-or-app .tour__media img 
	float: left 

.tour-online-app 
	background-color: site-color['white']
	color: font-color['dark-secondary']
	margin-bottom: px(82) // @2 164px

.tour-online-app 
	max-width: px(960)
	
.tour-online-app .tour__header
	font-family: font-stack['bold']
	
.tour-online-app .tour-panel
	border: 2px solid rgba(0, 0, 0, 0.15)
	height: px(400)

.tour-online-app .tour-panel:nth-of-type(2)
	border-right: 1px solid rgba(0, 0, 0, 0.15)
	border-radius(8px 0 0 8px)

.tour-online-app .tour-panel:nth-of-type(3)
	border-left: 1px solid rgba(0, 0, 0, 0.15)
	border-radius(0 8px 8px 0)
	
.tour-online-app .tour__vignette-box.left .icon
	font-size: px(120)

.tour-online-app .tour__vignette-box i
	line-height: px(88)	



	
// Vignettes 

.tour__vignette-box
	padding-bottom: px(32)
	padding-top: px(32)
	align()
	
.tour__vignette-box .icon
	font-size: px(88)
	padding-bottom: px(32)
	padding-top: px(32)
	width: 100%

.vignette__icon i 
	color: site-color['pop-primary']
	background: -webkit-linear-gradient(0deg, site-color['pop-primary'] 10%, site-color['black'] 90%) /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(0deg, site-color['pop-primary'] 10%, site-color['black'] 90%) /* FF3.6+ */
	background:     -ms-linear-gradient(0deg, site-color['pop-primary'] 10%, site-color['black'] 90%) /* IE10 */
	background:      -o-linear-gradient(0deg, site-color['pop-primary'] 10%, site-color['black'] 90%) /* Opera 11.10+ */
	background:         linear-gradient(0deg, site-color['pop-primary'] 10%, site-color['black'] 90%) /* W3C */
	// Doesn't work on IE
	vendor('background-clip', text)
	vendor('text-fill-color', transparent)
	font-size: px(88)

.vignette__icon span 
	color: font-color['dark-caption']
	display: inline-block
	margin-top: px(16)
	width: 100%

// Subscribe 
$subscribe-form-panel-height = 48

.subscribe
	background-color: site-color['medium-neutral']
	padding-bottom: px(85) // @1 88px
	padding-top: px(80) // @1 88px

.subscribe__header 
	margin-bottom: px(23) // @2 64
	
.subscribe__form
	row()
	
.subscribe__form .form-panel
	height: px($subscribe-form-panel-height)
	
.subscribe__form .form-panel:first-child
	column(6/12, gutters: 12, offset: 2.25/12)
	
.subscribe__form .form-panel:last-child
	column(1.5/12, gutters: 12, pull: 2.25/12)
	
.subscribe .heads-up
	display: block
	font-family: font-stack['book-italic']
	font-size: font-sizes['small']
	margin-top: px(23)

// Updates

.updates 
	padding-bottom: px(65) // @1 164px
	padding-top: px(156) // @1 164px
	
.updates-panel
	column(6/12)	

.updates-panel .title
	margin-bottom: px(16) // @2 64

.updates .update
	font-size: font-sizes['medium']
	line-height: auto-line-height(font-sizes['large'])
	
.updates .update hr
	color: font-color['dark-caption']
	font-family: font-stack['book-italic']
	margin: px(30) auto
	max-width: px(216)
	
/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

P A G E S
             
¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡
*/

.page
	padding-top: px(176) //@1 88px from .header bottom

.page-news 
	padding-top: px(164) //@1 88px from .header bottom
	
.page__header 
.page__body 
	row(cancel-margin: true)
	
.aggregate-post
	row(cancel-margin: true)
	
.page__content__inner
.page__menu__inner
	height: auto
	width: 100%
		
.page__header 
	color: font-color['dark-primary']
	margin-bottom: px(76) //@1 88px

.page__body__footer
	display: block 
	margin-top: px(43) // @2 88
	
.page__menu__inner
	padding: px(12) px(16)

.page__menu-item
	margin: px(12) 0

.page__menu .link
	color: site-color['pop-primary']	
	display: inline-block 
	font-size: font-sizes['normal']

.page-news .page__menu
	min-height: px(244) 
	width: 100%
	column(2/12, offset: 0.5/12)

.page__menu__inner
	background-color: site-color['white']
	border: 2px solid site-color['medium-neutral']
	border-radius(8px)
			
.page-news .page__content
	 // column(8/12, float: right, pull: 0.5/12, overflow:visible)
	  column(8/12, offset: 2/12, overflow:visible)
	  
.page-post .page__content
	column(8/12, offset: 2/12)
	
.page-terms .page__content
	column(6/12, offset: 3/12)
	
.page__body .title
	margin-bottom: px(54) 

.aggregate-post
	padding-bottom: px(88) // @1 88px
	padding-top: px(82) // @1 88px

.aggregate-post:first-of-type 
	padding-top: 0

.aggregate-post__media 
	background: site-color['light-neutral']
	height: auto
	text-align: center
	width: 100%

.aggregate-post__media img 
	margin: 0 auto
	
.aggregate-post__meta
	font-size: font-sizes['normal']
	height: px(32)
	margin-top: px(26) // @2 64px
	overflow: hidden

.aggregate-post__meta span
	color: font-color['dark-caption']
	display: inline-block
	vertical-align: middle

.aggregate-post__meta .share
	float: right 
	
.aggregate-post__meta .circle 
	background-color: font-color['dark-caption']
	margin: 0 px(8)
	circle(4)

.aggregate-post__title
.aggregate-post__text
	padding-right: px(64)
		
.aggregate-post__title
	color: font-color['dark-primary']
	font-size: font-sizes['title'] 
	line-height: auto-line-height(font-sizes['title'], 0.25)
	margin-top: px(8) // @2 64px
	
.aggregate-post__text
	color: font-color['dark-secondary']
	line-height: auto-line-height(font-sizes['large'])
	margin-top: px(11) // @2 64px

.aggregate-post__text p
	margin-top: px(11) // @2 64px
	
.aggregate-post__text p:first-of-type
	margin-top: 0 
	
.aggregate-post__text a 
	@extends .link--normal

.aggregate-post__text a:hover 
	@extends .link--normal:hover
	
.aggregate-post .link
	float: left
	margin-top: px(23) // @2 64px

.aggregate-post .link i
	font-size: font-sizes['normal']
	margin-left: px(4)
	vertical-align: middle
	
.related
	row()
	
.related__header 
	margin-bottom: px(54) // @2 88px

.related__header  .hr-delimiter:after
	font-size: font-sizes['medium']
	
.related__post
	column(4/12)

.related__post__name
	margin-top: px(24) // @2 64px
	
.related__post__name .link 
	font-size: font-sizes['normal']
	line-height: auto-line-height(font-sizes['normal'], 0.25)

.page-terms .btns 
	font-size: font-sizes['normal']
	margin-left: auto
	margin-right: auto
	max-width: 80%

.page-terms .btn
	font-family: font-stack['bold']
	font-size: font-sizes['normal'] 
		
.page-terms .page__header 
	margin-bottom: px(59) // @2 144px
	
.page-terms .subtitle
	font-family: font-stack['bold']

.page-terms .page__body
	margin-top: px(64) // @2 	144px
	
.page-terms h3
.page-terms p 
.page-terms ol
.page-terms ul
	font-size: font-sizes['normal']
	color: font-color['dark-primary']

.page-terms ul li 
	margin-bottom: px(8)
	
.page-terms ul
	list-style: circle outside 
	
.page-terms h3
	color: font-color['dark-secondary']	

.page-terms .page__body .title
	margin-bottom: px(32) //@2 88
	
.page-terms .page__body .subtitle
	margin-bottom: px(16)
	margin-top: px(16)	
	
.page-terms p  
	line-height: auto-line-height(font-sizes['normal'], 0.25)
	margin-bottom: px(8)

.page-terms ol
.page-terms ul
	margin-bottom: px(16) 
	margin-top: px(16)
	padding-left: px(16)
	
.page-features .banner 
	background: site-color['light-neutral']
	// background: -moz-linear-gradient(top, site-color['white'] 0%, site-color['light-neutral'] 100%)
	// background: -webkit-gradient(left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, site-color['light-neutral']))
	// background: -webkit-linear-gradient(top, site-color['white'] 0%, site-color['light-neutral'] 100%)
	// background: -o-linear-gradient(top, site-color['white'] 0%, site-color['light-neutral'] 100%)
	// background: -ms-linear-gradient(top, site-color['white'] 0%, site-color['light-neutral'] 100%)
	// background: linear-gradient(to bottom, site-color['white'] 0%, site-color['light-neutral'] 100%)
	overflow: hidden

.page-features .banner .container 
	max-width: site-sizes['max-width'] + 300
	
.page-features .banner__media
	column(7/12, overflow: visible)
	align()
	+laptop()
		column(6/12, overflow: visible)
		
.page-features .banner__content 
	column(4/12, float: right)
	align()
	+laptop()
		column(5/12, float: right)

.page-features .banner__content .title 
	margin-bottom: px(16)
	color: site-color['black']
	font-family: font-stack['bold']

.page-features .banner__content  .description
	color: lighten(font-color['dark-secondary'], 30%)

.page-features .banner__content .btn 
	margin-top: px(22) // @2 64px

body.features .pusher 
	display: none
	
$formats-body-color = lighten(site-color['pop-primary'], 90%)
$formats-border-color = rgba(0, 0, 0, 0.15)	

.formats .container 
	padding-top: px(156) //@1 164px
	padding-bottom: px(164) //@1 164px
		
.formats__header 
.formats__body
.formats__footer
	row()

.formats__body
	background-color: site-color['white']
	border: 1px solid $formats-border-color
	font-size: 0
	margin-top: px(82) //@1 88px
	border-radius(8px) 
	box-shadow(0px 4px 20px 0px rgba(0, 0, 0, 0.10))
	transition(all 0.6 ease-in-out-back);
	
.formats__footer
	margin-top: px(82) //@1 88px
	
.headline-and-icon
	display: inline-block
	height: auto
	overflow: hidden
	align(relative, 'horizontal') 

.headline-and-icon .text
.headline-and-icon .icon
	display: block 
	float: left 
	height: auto 

.headline-and-icon .icon
	margin-right: px(8)
	padding-top: px(7)
	
.headline-and-icon .icon i
	font-size: font-sizes['large']
	
.headline-and-icon .text__name
	font-family: font-stack['bold']
	font-size: font-sizes['title']
	margin-bottom: px(8)

.headline-and-icon .text__info
	font-size: font-sizes['medium']
	
.formats__body .format
	color: site-color['pop-primary']
	border-right: 1px solid $formats-border-color
	font-family: font-stack['bold']
	font-size: font-sizes['xlarge'] 
	height: px(224)
	line-height: px(224)
	text-align: center
	column(3/12)

.format.is-yellow
	color: #fedc41

.format.is-orange
	color: #feb241

.format.is-orange-hot
	color: #f76c3a

.format.is-red
	color: #e03758

.format.is-pink 
	color: #b50792

.format.is-purple 
	color: #6f009d
				
.formats__body .format:nth-child(4)
.formats__body .format:nth-child(8)
	border-right: 0

.formats__body .format:nth-child(1n+5)
	border-top: 1px solid $formats-border-color
	
.formats__body .format-more
	border-top: 1px solid $formats-border-color
	float: left
	width: 100%
	
.formats__footer a 
	font-family: font-stack['bold']




