<div class="beta-background">
    <div ng-switch on="systemStatus">
        <div ng-switch-when="ok">
        </div>
        <div ng-switch-default class="beta-signbox">
            {{systemStatusMessage}}            
        </div>
    </div>
</div>

<div style="height: 48px"></div>
<div class="center-content">
    <div ng-if="!requestSubmitted">
         <h1 class="title" name="forgot" id="forgot">Forgot Your Password</h1>
	    <p class="description">
		    Complete the following to receive instructions on how to reset your password.
	    </p>
	    <div class="betaform">
		    <form id="forgot-form" name="forgot">
                <div id="step1" class="form-step active" ng-class="{ valid: forgot.username.$valid }">
                    <div class="title"><span class="step">1</span>Tell us your user name or email</div>
                    <div class="content">

                        <div class="form-group" style="position:relative">
				        <span ng-switch on="forgot.username.$error.remoteProgress" style="position:absolute;right: 10px;top: 3px;font-size: 14px;">
                            <i ng-switch-when="true" class="fa fa-refresh fa-spin fa-sm" style="color: #ccc;"></i>
                            <span ng-switch-when="false" ng-switch on="forgot.username.$error.remote" >
                                <i ng-switch-when="false" class="fa fa-check fa-sm" style="color: #0c0;"></i>
                                <i ng-switch-when="true" class="fa fa-times fa-sm" style="color: #c00;"></i>
                            </span>
                        </span>

                        <input type="text" class="form-control" name="username" placeholder="User Name or Email" required="" ng-model="requestForm.UserName" remote-validator="checkUserNameExists($value)" delay="1000" ng-minlength="5">
			        </div>

                    </div>
                </div>

                <div id="demo-error" class="error message">{{requestError}}</div>

                <div class="form-submit">
                    <span class="show-on-hover" ng-show="!forgot.$valid">Form is not completed</span>
                    <button type="submit" class="big gray" ng-click="submitRequest()" ng-disabled="!forgot.$valid">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div ng-if="requestSubmitted">
        <h1 class="title" name="forgot" id="H2">Forgot Password Email Sent</h1>
        <p class="description">
            Further instructions have been sent to your email address.
        </p>
        <p>
            If you do not receive an email from support@pyxisinnovation.com within the next few minutes, check your spam folder and ensure support@pyxisinnovation.com is in your safe senders list.
        </p>
    </div>
</div>
