<div class="beta-background">
    <div ng-switch on="systemStatus">
        <div ng-switch-when="ok">
        </div>
        <div ng-switch-default class="beta-signbox">
            {{systemStatusMessage}}            
        </div>
    </div>
</div>

<div style="height: 48px"></div>
<div class="center-content">
    <div ng-if="requestForm.ResetToken">
         <h1 class="title" name="reset" id="reset">Reset Your Password</h1>
	    <p class="description">
		    {{requestForm.UserName}}, complete the following to reset your password.
	    </p>
	    <div class="betaform">
		    <form id="reset-password-form" name="reset">
                <div id="step1" class="form-step active" ng-class="{ valid: reset.password.$valid && reset.confirm-password.$valid}">
                    <div class="title"><span class="step">1</span>Enter your new password</div>
                    <div class="content">

                        <div class="form-group" style="position: relative">
                            <span ng-show="!reset.password.$error.required" ng-switch on="reset.password.$error.minlength" style="position: absolute; right: 10px; top: 3px; font-size: 14px;">
                                <i ng-switch-when="false" class="fa fa-check fa-sm" style="color: #0c0;"></i>
                                <i ng-switch-when="true" class="fa fa-times fa-sm" style="color: #c00;"></i>
                            </span>
                            <input type="password" class="form-control" id="reset-new-password" name="password" placeholder="New Password" required="" ng-model="requestForm.NewPassword" ng-minlength="6">
                        </div>

                        <div class="form-group" style="position: relative">
                            <span ng-show="!reset.confirmPassword.$error.required" ng-switch on="reset.confirmPassword.$error.match" style="position: absolute; right: 10px; top: 3px; font-size: 14px;">
                                <i ng-switch-when="false" class="fa fa-check fa-sm" style="color: #0c0;"></i>
                                <i ng-switch-when="true" class="fa fa-times fa-sm" style="color: #c00;"></i>
                            </span>
                            <input type="password" class="form-control" id="reset-confirm-password" name="confirmPassword" placeholder="Confirm Password" required="" ng-model="requestForm.ConfirmPassword" match="requestForm.NewPassword">
                        </div>

                    </div>
                </div>

                <div id="demo-error" class="error message">{{requestError}}</div>

                <div class="form-submit">
                    <span class="show-on-hover" ng-show="!reset.$valid">Form is not completed</span>
                    <button type="submit" class="big gray" ng-click="submitRequest()" ng-disabled="!reset.$valid">Set Password</button>
                </div>
            </form>
        </div>
    </div>
    <div ng-if="!requestForm.ResetToken">
        <h1 class="title" name="reset" id="H2">Reset Your Password</h1>
        <p class="description">
            To be able to reset your password follow the link in the email sent to your inbox after completing the forgot your password form <a href='/forgotPassword'>here</a>.
        </p>
    </div>
</div>