<div class="center-content"> 

    <h1 class="title">Our Vision</h1>
    <iframe class="video" src="//player.vimeo.com/video/116207941?title=0&amp;byline=0&amp;portrait=0&amp;color=000&amp;autoplay=0" width="100%" height="455" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p class="description">
        The Earth is a wealth of information and wonderment that feeds the curiosity in us all. At PYXIS&#8482;, we believe we have a responsibility to keep our planet safe through the empowerment of knowledge. Our WorldView&#8482; tools and technologies enable anyone to have the unfettered power to observe and explore the planet's beauty, its diversity and its vulnerability. 
    </p>
    <p>
        Our WorldView.gallery is a collaborative community of explorers and decision-makers looking for answers to their geospatial questions. They want to know "Where in the world is it?" and "What is in that location?", WorldView&#8482; Studio’s Digital Earth interface is the platform where data comes to life.
    </p>
    <p>
        We hope you enjoy building your own worldview and find it as #GeoAmazing as we do!
    </p>
</div>