$root-folder = '/site/css/'

@font-face {
    font-family: 'Relative Bold';
    src: url($root-folder + 'fonts/Relative/relative-bold-webfont.eot');
    src: url($root-folder + 'fonts/Relative/relative-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url($root-folder + 'fonts/Relative/relative-bold-webfont.woff2') format('woff2'),
         url($root-folder + 'fonts/Relative/relative-bold-webfont.woff') format('woff'),
         url($root-folder + 'fonts/Relative/relative-bold-webfont.ttf') format('truetype'),
         url($root-folder + 'fonts/Relative/relative-bold-webfont.svg#relativebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Relative Bold Italic';
    src: url($root-folder + 'fonts/Relative/relative-bold-italic-webfont.eot');
    src: url($root-folder + 'fonts/Relative/relative-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url($root-folder + 'fonts/Relative/relative-bold-italic-webfont.woff2') format('woff2'),
         url($root-folder + 'fonts/Relative/relative-bold-italic-webfont.woff') format('woff'),
         url($root-folder + 'fonts/Relative/relative-bold-italic-webfont.ttf') format('truetype'),
         url($root-folder + 'fonts/Relative/relative-bold-italic-webfont.svg#relativebold_italic') format('svg');
    font-weight: normal;
    font-style: normal;


}

@font-face {
    font-family: 'Relative';
    src: url($root-folder + 'fonts/Relative/relative-book-webfont.eot');
    src: url($root-folder + 'fonts/Relative/relative-book-webfont.eot?#iefix') format('embedded-opentype'),
         url($root-folder + 'fonts/Relative/relative-book-webfont.woff2') format('woff2'),
         url($root-folder + 'fonts/Relative/relative-book-webfont.woff') format('woff'),
         url($root-folder + 'fonts/Relative/relative-book-webfont.ttf') format('truetype'),
         url($root-folder + 'fonts/Relative/relative-book-webfont.svg#relativebook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Relative Italic';
    src: url($root-folder + 'fonts/Relative/relative-italic-webfont.eot');
    src: url($root-folder + 'fonts/Relative/relative-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url($root-folder + 'fonts/Relative/relative-italic-webfont.woff2') format('woff2'),
         url($root-folder + 'fonts/Relative/relative-italic-webfont.woff') format('woff'),
         url($root-folder + 'fonts/Relative/relative-italic-webfont.ttf') format('truetype'),
         url($root-folder + 'fonts/Relative/relative-italic-webfont.svg#relativebook_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

