<div class="center-content terms">
    <h1 class="title">WorldView Studio System Requirements</h1>
    <h2>Software</h2>
    <ul>
        <li>Operating System: Windows Vista, 7, or 8</li>
        <li>Web browser: Any modern ("ever green") web browser</li>
    </ul>
    <h2>Hardware</h2>
    <ul>
        <li>Graphics card: 512MB and support for openGL 2.0</li>
        <li>Disk Space: 100MB for installed application, and another 2GB for cached data</li>
        <li>Memory: 2GB (4GB recommended)</li>
        <li>Processor: Any CPU will do (multi-core processors recommended)</li>
        <li>Internet connection speed: 10Mbps</li>
    </ul>
</div>