<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Pyxis.WorldView.Studio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Pyxis.WorldView.Studio.Properties.Settings>
            <setting name="StartupUrl" serializeAs="String">
                <value>https://www.globalgridsystems.com/Studio/beta-v1</value>
            </setting>
            <setting name="CrashDumpUploadUri" serializeAs="String">
                <value>https://www.globalgridsystems.com/Api/UploadCrash</value>
            </setting>
            <setting name="ProductionStartupUriHost" serializeAs="String">
                <value>www.globalgridsystems.com</value>
            </setting>
            <setting name="DevelopmentStartupUriHost" serializeAs="String">
                <value>www-dev.globalgridsystems.com</value>
            </setting>
            <setting name="TestStartupUriHost" serializeAs="String">
                <value>www-test.globalgridsystems.com</value>
            </setting>
            <setting name="FeedbackUrl" serializeAs="String">
                <value>https://www.globalgridsystems.com/Api/Feedback</value>
            </setting>
            <setting name="ApplicationDownloadUrl" serializeAs="String">
                <value>https://www.globalgridsystems.com/download</value>
            </setting>
        </Pyxis.WorldView.Studio.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>