<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Pyxis.Publishing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Pyxis.Publishing.Properties.Settings>
            <setting name="LicenseServerRestPrefix" serializeAs="String">
                <value>api/v1/</value>
            </setting>
            <setting name="ProductionLicenseServerRestAPI" serializeAs="String">
                <value>https://ls-api.globalgridsystems.com/</value>
            </setting>
            <setting name="TestLicenseServerRestAPI" serializeAs="String">
                <value>https://ls-api-test.globalgridsystems.com/</value>
            </setting>
            <setting name="DevelopmentLicenseServerRestAPI" serializeAs="String">
                <value>https://ls-api-dev.globalgridsystems.com/</value>
            </setting>
        </Pyxis.Publishing.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
