<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="StudioLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
      <StudioLauncher.Properties.Settings>
          <setting name="LocalStudioVersion" serializeAs="String">
              <value />
          </setting>
          <setting name="RestAPIVersionServerAddress" serializeAs="String">
              <value>https://ls-api.globalgridsystems.com/api/v1</value>
          </setting>
          <setting name="ProductionStartupURL" serializeAs="String">
              <value>https://www.globalgridsystems.com/studio/beta-v1</value>
          </setting>
          <setting name="TestStartupURL" serializeAs="String">
              <value>https://www-test.globalgridsystems.com/studio/beta-v1</value>
          </setting>
          <setting name="DevelopmentStartupURL" serializeAs="String">
              <value>https://www-dev.globalgridsystems.com/studio/beta-v1</value>
          </setting>
          <setting name="StartupArg" serializeAs="String">
              <value>startup</value>
          </setting>
          <setting name="ControlMode" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="StagingStartupURL" serializeAs="String">
              <value>https://www-staging.globalgridsystems.com/studio/beta-v1</value>
          </setting>
          <setting name="TestDirectoryArg" serializeAs="String">
              <value>testdirectory</value>
          </setting>
          <setting name="ClearCacheArg" serializeAs="String">
              <value>clearcache</value>
          </setting>
      </StudioLauncher.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- Configure tracing -->
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!-- This listener writes trace information in text form to the
          specified log file. Any directories must be pre-created and write
          permissions must be configured appropriately. -->
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="StudioLauncher.log">
          <!-- Control the level of information output by the trace messages.
            Valid values are "Off", "Error", "Warning", "Information" and
            "Verbose" -->
          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Off" />
        </add>
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>