<!-- Screen Capture and Camera Capture UI -->
<div ng-if="screenCapture.active" ng-include="'/client/templates/studio/template/screen-capture.html'"></div>
<div ng-if="cameraCapture.active" ng-include="'/client/templates/studio/template/camera-capture.html'"></div>

<!-- Edit resource dialog -->
<modal-dialog ng-if="editResourceModel.active && !screenCapture.active && !cameraCapture.active" modal-class="edit-mode" stop-propagation="keyup">
    <div ng-if="editResourceModel.step=='edit'" ng-include="'/client/templates/studio/template/edit-resource-dialog.html'"></div>
    <div ng-if="editResourceModel.step=='errorNotice'" ng-include="'/client/templates/studio/template/edit-resource-error-notice-dialog.html'"></div>
    <div ng-if="editResourceModel.step=='selectGallery'" ng-include="'/client/templates/studio/template/edit-resource-select-gallery-dialog.html'"></div>
    <div ng-if="editResourceModel.step=='publishSummary'" ng-include="'/client/templates/studio/template/edit-resource-publish-summary-dialog.html'"></div>
    <div ng-if="editResourceModel.step=='publishTerms'" ng-include="'/client/templates/studio/template/edit-resource-publish-terms-dialog.html'"></div>
    <div ng-if="editResourceModel.step=='publishProgress'" ng-include="'/client/templates/studio/template/edit-resource-publish-progress-dialog.html'"></div>
</modal-dialog>
