<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="pyxis_licenseserverMongo"
      connectionString="mongodb://pyxis_licensing:Innovation1@WVDBS01R01.cloudapp.net:27017,WVDBS01R01.cloudapp.net:27018/pyxis_licenseserver?replicaSet=wvdbs01r01;readpreference=nearest"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="Google.ClientId"
      value="334166655938-u7v64pm0bb6a6auiqoiuur3vtq0es19g.apps.googleusercontent.com"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Google.ClientSecret"
      value="BMM4vlPeYeUjdMJNY4fmh7S6"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Facebook.AppId"
      value="688442961283809"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Facebook.AppSecret"
      value="afe71464decebd6a153c9040ea5711bb"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Linkedin.ClientId"
      value="780y9iflq1zudk"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Linkedin.ClientSecret"
      value="tT8e9IFIN5jNbd7l"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <applicationSettings>
    <LicenseServer.Properties.Settings>
      <setting name="ExternalDataIndex" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>external_data_prod</value>
      </setting>
    </LicenseServer.Properties.Settings>
  </applicationSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>