@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h1>the PYXIS innovation</h1>
    <p class="lead">Please feel free to <a href="http://www.pyxisinnovation.com/contact.php">contact us</a> for any questions or visit our <a href="http://www.pyxisinnovation.com">website</a></p>        
</div>