<div class="menu-panels__panel">
    <div class="menu-column full">
        <div class="menu-row menu-row--globe">
            <a ng-show="!user" class="btn btn--small btn--black btn--rounded" ng-click="show.modal = 'register'" href="">Register Now</a>
            <a ng-show="user" class="btn btn--small btn--black btn--rounded" ng-click="menu.toggle()" href="/info/account">My Account</a>
        </div>
        <div class="menu-row menu-row--pyxis">
            <div class="menu-column">
                <a class="link link--menu link--swap" href="https://www.pyxisinnovation.com" target="_blank">
                    <span>
                    <img ng-src="/site/assets/pyxis-logo.png"  data-at2x="/site/assets/pyxis-logo@2x.png" />
                    <img ng-src="/site/assets/pyxis-logo-white.png"  data-at2x="/site/assets/pyxis-logo-white@2x.png" />
                    </span>
                </a>
            </div>
            <div class="menu-column">
                <a class="link--menu" ng-click="menu.toggle()" href="/download">
                    <span>Download the app</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="menu-panels__panel">
    <div class="menu-column">
       <div class="menu-row menu-row--home">
            <a class="link--menu" href="/" ng-click="menu.toggle()">
                <span>Home</span>
            </a>
        </div>
        <div class="menu-row menu-row--gallery">
            <a class="link--menu" href="/browse" ng-click="menu.toggle()">
                <span>Gallery</span>
            </a>
        </div>
        <div class="menu-row menu-row--features">
            <a class="link--menu" href="/features" ng-click="menu.toggle()">
                <span>Features</span>
            </a>
        </div>
        <div class="menu-row menu-row--news">
             <a class="link--menu" href="/news" ng-click="menu.toggle()">
                <span>News</span>
             </a>
        </div>
        <div class="menu-row menu-row--faq">
            <a class="link--menu" href="http://support.pyxisinnovation.com" target="_blank">
                <span>FAQ</span>
            </a>
        </div>
    </div>
    <div class="menu-column">
        <div class="menu-row menu-row--contact">
            <div class="contact__wrapper">
                <div class="contact__container">
                    <h2 class="headline">Contact</h2>
                    <div class="contact__section">
                        <a class="link link--underline reverse" href="https://pyxisinnovation.com" target="_blank">More info</a>
                    </div>
                    <div class="contact__section">
                        <p class="subtitle">Pyxis Corporate</p>
                        <p class="contact__section__name">Phone:</p>
                        <span class="italic">Toll Free (Canada &amp; US):</span>
                        <p>+1.888.233.0321</p>
                        <span class="italic">International</span>
                        <p>+1.587.880.4776</p>
                    </div>
                      <div class="contact__section">
                        <p class="contact__section__name">Business Hours:</p>
                        <span class="italic">Monday to Friday</span>
                        <p>
                            7:00 to 17:00 MT
                            <br/>
                            (14:00 to 22:00 GMT)
                        </p>
                   
                    </div>
                     <div class="contact__section">
                        <p class="contact__section__name">Fax:</p>
                        <p>+1.888.334.6065</p>
                    </div>
                     <div class="contact__section">
                        <p class="subtitle">Pyxis Support</p>
                        <a class="link link--underline reverse link--small" href="mailto:support@pyxisinnovation.com">
                            support@pyxisinnovation.com
                        </a>
                    </div>
                    <div class="contact__section contact__section--social">
                        <p class="subtitle">Follow Us</p>
                        <div class="share-icons">
                            <a class="share-icon" href="https://twitter.com/pyxisinnovation" target="_blank">
                                <i class="nc-icon-glyph socials-1_logo-twitter"></i>
                            </a>
                            <a class="share-icon" href="https://www.linkedin.com/vsearch/p?company=The+Pyxis+Innovation&amp;trk=prof-exp-company-name" target="_blank">
                                <i class="nc-icon-glyph socials-1_logo-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  <div class="menu-row menu-row--share">
                <a class="link--menu" href="">
                    <span>Follow us</span>
                 </a>
                <div class="share-icons">
                    <a class="share-icon" href="https://twitter.com/pyxisinnovation" target="_blank"><i class="nc-icon-glyph socials-1_logo-twitter"></i></a>
                  <!--   <a class="share-icon" href=""><i class="nc-icon-glyph socials-1_logo-facebook"></i></a> -->
                    <a class="share-icon" href="https://www.linkedin.com/vsearch/p?company=The+Pyxis+Innovation&amp;trk=prof-exp-company-name" target="_blank"><i class="nc-icon-glyph socials-1_logo-linkedin"></i></a>
         </div>
         </div> -->
    </div>
</div>
